#root {

    display: grid;
}


.projectIcons {

    height: 400px;
    width: 150px;
    background-color: aquamarine;
}

.projectTiles {

    border-radius: 1px;
    width: 100px;
    height:50px;
    border-style: solid;
    border-color: grey;
    cursor: pointer;

}

.todotiles {

    border-radius: 1px;
    width: 200px;
    height:100px;
    border-style: solid;
    border-color: grey;
    cursor: pointer;

}

#todoDisplay {
    float:right;
}

.deleteButton {
    float:right;

}

.deleteTodoButton {
    float:right;

}

ul {
    list-style-type: none;
    /* cursor: pointer; */
}

.hidden {

    visibility: hidden;
}

.shown {

    visibility: visible;
}





/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly8vLi9zcmMvc3R5bGVzLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTs7QUFFQTtBQUNBOzs7QUFHQTs7QUFFQTtBQUNBO0FBQ0E7QUFDQTs7QUFFQTs7QUFFQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7O0FBRUE7O0FBRUE7O0FBRUE7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBOztBQUVBOztBQUVBO0FBQ0E7QUFDQTs7QUFFQTtBQUNBOztBQUVBOztBQUVBO0FBQ0E7O0FBRUE7O0FBRUE7QUFDQTtBQUNBLHVCQUF1QjtBQUN2Qjs7QUFFQTs7QUFFQTtBQUNBOztBQUVBOztBQUVBO0FBQ0EiLCJmaWxlIjoibWFpbi5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIjcm9vdCB7XG5cbiAgICBkaXNwbGF5OiBncmlkO1xufVxuXG5cbi5wcm9qZWN0SWNvbnMge1xuXG4gICAgaGVpZ2h0OiA0MDBweDtcbiAgICB3aWR0aDogMTUwcHg7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogYXF1YW1hcmluZTtcbn1cblxuLnByb2plY3RUaWxlcyB7XG5cbiAgICBib3JkZXItcmFkaXVzOiAxcHg7XG4gICAgd2lkdGg6IDEwMHB4O1xuICAgIGhlaWdodDo1MHB4O1xuICAgIGJvcmRlci1zdHlsZTogc29saWQ7XG4gICAgYm9yZGVyLWNvbG9yOiBncmV5O1xuICAgIGN1cnNvcjogcG9pbnRlcjtcblxufVxuXG4udG9kb3RpbGVzIHtcblxuICAgIGJvcmRlci1yYWRpdXM6IDFweDtcbiAgICB3aWR0aDogMjAwcHg7XG4gICAgaGVpZ2h0OjEwMHB4O1xuICAgIGJvcmRlci1zdHlsZTogc29saWQ7XG4gICAgYm9yZGVyLWNvbG9yOiBncmV5O1xuICAgIGN1cnNvcjogcG9pbnRlcjtcblxufVxuXG4jdG9kb0Rpc3BsYXkge1xuICAgIGZsb2F0OnJpZ2h0O1xufVxuXG4uZGVsZXRlQnV0dG9uIHtcbiAgICBmbG9hdDpyaWdodDtcblxufVxuXG4uZGVsZXRlVG9kb0J1dHRvbiB7XG4gICAgZmxvYXQ6cmlnaHQ7XG5cbn1cblxudWwge1xuICAgIGxpc3Qtc3R5bGUtdHlwZTogbm9uZTtcbiAgICAvKiBjdXJzb3I6IHBvaW50ZXI7ICovXG59XG5cbi5oaWRkZW4ge1xuXG4gICAgdmlzaWJpbGl0eTogaGlkZGVuO1xufVxuXG4uc2hvd24ge1xuXG4gICAgdmlzaWJpbGl0eTogdmlzaWJsZTtcbn1cblxuXG5cbiJdLCJzb3VyY2VSb290IjoiIn0=*/