.projectIcons {

    height: 1000px;
    width: 150px;
    background-color: aquamarine;
}

.projectTiles {

    border-radius: 1px;
    width: 100px;
    height:50px;
    border-style: solid;
    border-color: grey;

}

.deleteButton {
    float:right;

}