  /* #root {

    display: flex;
    width: 100%;
    flex-direction: row;
   
}   */


.projectIcons {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 30vw;
    border-radius: 10px;

} 

   .projectTiles {

    display: flex;
    margin: 10px;
    /* padding-top: 40px; */
    font-family: monospace;
    font-size: large;
    padding: 10px;
   text-align: center;
   background-color: turquoise;
   text-align: center;
   justify-content: space-between;
   justify-items: center;
   
   width: 200px;
   height: 100px;
   box-shadow: 10px 10px grey;
   border-radius: 20px;
    cursor: pointer;
    text-overflow: ellipsis;
    
    

}

.projTitle {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

/* #projectHeading {
    font-size: 40px;
} */



.todotiles {

    display: flex;
    margin: 10px;
    /* padding-top: 40px; */
    font-family: monospace;
    font-size: large;
    padding: 10px;
   text-align: center;
   background-color: turquoise;
   text-align: center;
   justify-content: space-between;
   justify-items: center;
   
   width: 200px;
   height: 300px;
   box-shadow: 10px 10px grey;
   border-radius: 20px;
    cursor: pointer;
    text-overflow: ellipsis;
    
    

}

.todotilesdetail {


}

#projectDisplay {
   grid-column-start: 1;
    padding-left: 10px;
    width: 250px;
}

#todoDisplay {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    flex-direction: row;
    
}

#myModal {
    grid-column-start: 3;
}

.deleteButton {
   
 
    float: right;
    height:20px;
    width: 20px;

}

.deleteTodoButton {
    grid-column: 3;
    grid-row: 3;

}

ul {
    list-style-type: none;
   
}

li {

    width: 50%;
}

.hidden {

    visibility: hidden;
}

.shown {

    visibility: visible;
}   

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  #modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .projects {
      width: 200px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The side navigation menu */
#sidebar {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    width: 270px;
    background-color: lightblue;
    position: fixed;
    height: 100%;
    overflow: auto;
    float: left;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 270px;
    width: 100%;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    padding: 1px 16px;
    height: 1000px;
  }

  /* The navigation bar */
#navbar {
    height:100px;
    display: flex;
    padding: 20px;
    padding-left: 270px;
    overflow: hidden;
    background-color: turquoise;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

  .taskNameInput {
      height: 50px;
      width: 50vw;
      border-radius: 20px
  }
  
  /* Links inside the navbar */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  #navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }
