  body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #222831;
  }

  #header {

    width: 100%;
    height: 30px;
    background-color: teal;
  }
  
  #root {

  
  margin-bottom: 50px;
   
}  

/* Style the header */
.header {
  padding: 10px 16px;
  background: #222831;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}


.projectIcons {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 30vw;
    border-radius: 10px;
    margin-bottom: 50px;

} 

   .projectTiles {

    display: flex;
    margin: 10px;
    /* padding-top: 40px; */
    font-family: 'IBM Plex Mono', monospace;
    font-size: large;
    padding: 10px;
   text-align: center;
   background-color: #575e6a;
   color: #00fff5;;
   text-align: center;
   justify-content: space-between;
   justify-items: center;
   
   width: 200px;
   height: 100px;
   
   border-radius: 20px;
    cursor: pointer;
    text-overflow: ellipsis;
    
    

}

.projTitle {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

#projectHeading {
    color:white;
    margin-bottom: 100px;
    width: 170px;
    height: 40px;
    
}



.todotiles {

    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    /* padding-top: 40px; */
    font-family: 'IBM Plex Mono', monospace;
    font-size: large;
    padding: 10px;
   text-align: center;
   background-color: #575e6a;
   color: #00fff5;
   text-align: center;
   justify-content: center;
   justify-items: center;
   
   width: 60vw;
   
  
   border-radius: 20px;
    cursor: pointer;
    
    white-space: wrap;
    
    
    

}
h2 {
  padding: 0;
  margin: 0;

  
}

.todotilesdetail {
width: 90%;
display: flex;
flex-wrap: wrap;
word-wrap: break-word;

}

#projectHeading {
  font-size: xx-large;
  float: left;
  min-width: 270px;
}

#projectDisplay {
   grid-column-start: 1;
    padding-left: 10px;
    width: 250px;
}

#todoDisplay {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    flex-direction: row;
    margin-bottom: 50px;
    
}

#myModal {
    grid-column-start: 3;
}

.deleteButton {
   
 
    float: right;
    height:20px;
    width: 20px;
    border-radius: 20px;
    background-color:#222831;
    color: #00fff5;
    border: none;

}

.deleteTodoButton {
  float: left;
  height:20px;
  width: 20px;
  border-radius: 20px;
  background-color:#222831;
  color: #00fff5;
  border: none;

}

ul {
    list-style-type: none;
    width: 90%;
    
   
}

li {

    width: 90%;
}

.hidden {

    visibility: hidden;
}

.shown {

    visibility: visible;
}   

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  #modal-content {
    
    background-color: #575e6a;
    font-size: large;
    color: #00fff5;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .projects {
      width: 200px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The side navigation menu */
#sidebar {
    margin: 0;
    margin-top: 30px;
    
    padding: 0;
    width: 270px;
    background-color:  #393e46;
    position: fixed;
    height: 100%;
    overflow: auto;
    float: left;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 270px;
    width: 100%;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    padding: 1px 16px;
    height: 1000px;
  }

  #addTask {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-top: 5px;
    margin-left: 10px;
    background-color: #00fff5; ;
    border: none;
    font-weight: 600;
    color: #222831;
  }

  /* The navigation bar */
#navbar {
  display: flex;
    height:100px;
    display: flex;
    padding: 20px;
    /* padding-left: 270px; */
    overflow: hidden;
    background-color: #393e46;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

  .taskNameInput {
      height: 50px;
      width: 50vw;
      border-radius: 20px;
      margin-left: 10vw;
      box-shadow: inset 0 5px 5px hsla(0, 0%, 0%, 0.1);
      background-color: #5f6165;
      font-size: xx-large;
      color: #00fff5; ;
      border: none;
  }

  #projectArea {

    width:100%
  }

  .projectNameInput {
    height: 50px;
    width: 190px;
    border-radius: 20px;

    box-shadow: inset 0 5px 5px hsla(0, 0%, 0%, 0.1);
    background-color: #5f6165;
    font-size: xx-large;
    color: #00fff5;
    border: none;
}

#addProject {
  float: right;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  /* margin-top: 5px;
  margin-left: 10px; */
  background-color: #00fff5;;
  color: #222831;
  border: none;
  font-weight: 600;

}
  
  /* Links inside the navbar */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  #navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }


